{% extends 'layout.html' %}

{% block page_title %}Task List Administration{% endblock %}

{% block content %}	


	<h1>My Tasks Administration</h1>
	
	{% if tasks %}
		<table>
			<thead>
				<tr>
					<th>Summary</th>
					<th>Reporter</th>
					<th>Date</th>
					<th colspan="2">Actions</th>
				</tr>
			</thead>
			<tbody>
			
				{% for task in tasks %}
					<tr>
						<td>{{ task.summary }}</td>
						<td>{{ task.reporter }}</td>
						<td>{{ task.timecreated|date('jS F Y') }}</td>
						<td><a href="/admin/edit/{{ task.id }}">Edit</a></td>
						<td><a href="/admin/delete/{{ task.id }}">Delete</a></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<p>There are currently no tasks.</p>
	{% endif %}
{% endblock %}